.wrapper {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/96/Barbados_beach.jpg);
background-repeat: no-repeat;
  background-position: bottom left;
  padding: 20px;
}

.box {
  margin: 40px auto;
  width: 200px;
  background-color: lightblue;
  border: 5px solid darkblue;
  /* 
  border-with: 5px
  border-style: solid
  border-color: darkblue 
  */
  padding: 10px;
  opacity: 0.6; /* Va entre el [0,1] ; no va en comillas*/
}