.box {
  background-color: lightblue;
  border: 5px solid darkblue;
  padding: 10px;
  margin: 1em 0;
}

.wrapper {
  font-size: 1em;
}

.px {
  width: 200px;/*No cambia la resolucion en la pantalla*/
}

/*px no cambia tamano*/

.vw {
  width: 10vw;/*Se ajusta a la pantalla*/
}

/*vw se adapta al ancho de la pantalla*/

.em {
  width: 10em;
}

/*em aumenta en proporcion, con relacion a los elementos padres*/
