html {
  font-size: 16px;
}

/*Tamano de elemento fuente del elemento padre*/

.ems li {
  font-size: 1.3em;
}

/*ems multiplica tamano de fuente del elemento padre*/

.rems li {
  font-size: 1.3rem;
}

/*rems multiplica tamano de fuente de la raiz padre*/
